.tabla{
	padding-bottom: 40px;
}
.col-lg-3{
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px;
}
.divisa{
	margin-top: 100px;
	text-align: center;
}
.valor{
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
}